body
{
    background-image: "background.jpg";
    font-size: 30px;
}
.btn-success:hover
{
    background-color: red;
}

canvas
{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    margin-top: 90px;
}

@keyframes example{
    from{box-shadow: 1px 1px 40px red;}
    to{box-shadow: 1px 1px 40px yellow;}
}